OBJECT WITH ATTRIBUTE

In [ ]:
class student:
  def __init__ (self,name,course,dept):
   self.name=name
   self.course=course
   self.dept=dept
obj=student("Suki","Python","CSE")
print(obj.name)
print(obj.course)
print(obj.dept)

Suki
Python
CSE

In [ ]:
class car:
  def __init__ (self,name,model,year):
   self.name=name
   self.model=model
   self.year=year
obj=car("audi","57465",2023)
print(obj.name)
print(obj.model)
print(obj.year)

audi
57465
2023

In [ ]:
obj.model="456"
print(obj.model)

456

In [ ]:
del obj

In [ ]:
print(obj.model)

NameError: ignored

OBJECT WITH FUNCTION

In [ ]:
class student:
  def __init__ (self,name,course,dept):
   self.name=name
   self.course=course
   self.dept=dept
  def college (g):
    print("The student name is"+g.name)
    print("She is a good student")
obj=student("Suki","Python","CSE")
print(obj.name)
print(obj.course)
print(obj.dept)
obj.college()

Suki
Python
CSE
The student name isSuki
She is a good student

PASS

In [ ]:
class classroom:
  pass

In [ ]:
for i in range(0):
 pass

In [ ]:
while():
 pass

In [ ]:
for i in "python":
  print(i)
  pass

p
y
t
h
o
n

In [ ]:
for i in "python":
  pass
  print(i)

p
y
t
h
o
n

In [ ]:
for i in "python":
  pass
print(i)

n

In [ ]:
for i in "python":
  pass
  print()

INHERITANCE

In [ ]:
class student:
  def __init__ (self,name,course,dept):
   self.name=name
   self.course=course
   self.dept=dept
  def college (g):
    print("The student name is"+g.name)
    print("She is a good student")
obj=student("Suki","Python","CSE")
print(obj.name)
print(obj.course)
print(obj.dept)
obj.college()
class Roll_no_1 (student):
 pass

obj1=Roll_no_1("Maki","Tally","B.Com")
print(obj1.name)
print(obj1.course)
print(obj1.dept)
obj1.college()

Suki
Python
CSE
The student name isSuki
She is a good student
Maki
Tally
B.Com
The student name isMaki
She is a good student

In [ ]:
class dress:
  def __init__ (suki,name,prize,color):
   suki.Name=name
   suki.Prize=prize
   suki.Color=color
obj1=dress("Chudi",1800,"Red")
print(obj1.Name)
print(obj1.Prize)
print(obj1.Color)
class chudi_details(dress):
  def swing(l):
    print("This is long"+l.Name)
  def swing1(s):
    print("This is short"+s.Name)
obj2=chudi_details("Anarkali",1200,"Green")
print(obj2.Name)
print(obj2.Prize)
print(obj2.Color)
obj2.swing()
obj2.swing1()

Chudi
1800
Red
Anarkali
1200
Green
This is longAnarkali
This is shortAnarkali

In [ ]:
class dress:
  def __init__ (suki,name,prize,color):
   suki.Name=name
   suki.Prize=prize
   suki.Color=color
  def swing(l):
    print("This is long"+l.Name)
  def swing1(s):
    print("This is short"+s.Name)
obj1=dress("Chudi",1800,"Red")
print(obj1.Name)
print(obj1.Prize)
print(obj1.Color)
obj1.swing()
obj1.swing1()
class chudi_details(dress):
  pass
obj2=chudi_details("Anarkali",1200,"Green")
print(obj2.Name)
print(obj2.Prize)
print(obj2.Color)
obj2.swing()
obj2.swing1()

Chudi
1800
Red
This is longChudi
This is shortChudi
Anarkali
1200
Green
This is longAnarkali
This is shortAnarkali

ENCAPSULATION

public

In [37]:
class student:
  def __init__ (self,name,course,dept):
   self.name=name
   self.course=course
   self.dept=dept
  def college (g):
    print("The student name is"+g.name)
    print("She is a good student")
obj=student("Suki","Python","CSE")
print(obj.name)
print(obj.course)
print(obj.dept)
obj.college()
class Roll_no_1 (student):
 pass

obj1=Roll_no_1("Maki","Tally","B.Com")
print(obj1.name)
print(obj1.course)
print(obj1.dept)
obj1.college()

Suki
Python
CSE
The student name isSuki
She is a good student
Maki
Tally
B.Com
The student name isMaki
She is a good student

PRIVATE

CREATE PIUBLIC METHOD TO ACCESS PRIVATE MEMBERS

In [40]:
class car:
  def __init__ (suki,name,model,EngineNo):
    suki.name=name
    suki.model=model
    suki.__EngineNo=EngineNo
  def Drive(self):
   print(self.__EngineNo)
   print("!!!Testing completed!!!")
obj=car("Baleno",4365,"GT-344573")
print(obj.name)
print(obj.model)
obj.Drive()

Baleno
4365
GT-344573
!!!Testing completed!!!

MANGLING METHOD

In [41]:
class car:
  def __init__ (suki,name,model,EngineNo):
    suki.name=name
    suki.model=model
    suki.__EngineNo=EngineNo
  def Drive(self):
   print(self.__EngineNo)
   print("*****Testing completed*****")
obj=car("Baleno",4365,"GT-344573")
print(obj.name)
print(obj.model)
print(obj._car__EngineNo)
obj.Drive()

Baleno
4365
GT-344573
GT-344573
*****Testing completed*****

PROTECTED

In [47]:
class car:
  def __init__ (suki,name,model,EngineNo):
    suki._name=name
    suki._model=model
    suki._EngineNo=EngineNo
obj=car("Baleno",4365,"GT-344573")
print(obj._name)
print(obj._model)
print(obj._EngineNo)

Baleno
4365
GT-344573

In [48]:
class employee:
  def __init__ (suki,name,sal):
    suki._name=name
    suki._salary=sal
emp=employee("Suki",40000)
print(emp._name)
print(emp._salary)

Suki
40000

In [62]:
class HR(employee):
  def task(self):
   print(self._name+ " is a good employee")
obj1=HR("Suki",30000)
print(obj1._name)
print(obj1._salary)
obj1.task()

Suki
30000
Suki is a good employee

In [63]:
class emp2(employee):
  def task(self):
    print(self._name+" is very dedicative in work")
obj2=emp2("maki",45000)
print(obj2._name)
print(obj2._salary)
obj2.task()

maki
45000
maki is very dedicative in work